# Environment Variables
.env

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd

KP_settings.py

# Virtual Environment
venv_rcb/
env/

# Database Files
db.sqlite3

#collect static folder
static_prod/
# Django Static & Media Files
media/

# VS Code & IDE Configurations
.vscode/
.idea/

# Log Files
*.log

# Compiled C files
*.so