.list_table_container table, 
.list_table_container th,
.list_table_container td  {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
}
.list_table_container {
    overflow-x: auto;
}
.list_table_container table {
    width: 100%;
}
th {
    width: 25%;
}
.list_table_container th,
.list_table_container td  {
    vertical-align: middle;
}
td .btn-group {
    display: flex;
    flex-wrap: nowrap;  /* Prevent wrapping */
    gap: 5px;  /* Space between buttons */
}
td .btn-group a {
    white-space: nowrap;  /* Prevent button text from wrapping */
    min-width: 80px;  /* Ensure buttons don’t shrink too much */
}
.custom_btn {
    background-color: var(--theme_color1);
}
.custom_label {
    font-weight: bold;
    font-size: 1.3rem;
}
.form-check-input{
    border: 1px solid black;
    font-size: 1.3rem;
}
.color_red {
    color: red;
}
.fields_style {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2;
}
.profile_pic_div {
    width: 100%;
    height: 20rem;
}
.profile_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.player_details_div {
    background-color: rgba(0, 106, 153,0.2);
    padding: 1px;
}

/*Hide country in mobile mode*/
@media only screen and (max-width:500px) {
    .player_country {
        display: none;
    }
    .wid {
        white-space: nowrap;       /* Prevent text from wrapping */
        overflow: hidden;          /* Hide overflowing text */
        text-overflow: ellipsis;   /* Show ellipsis (...) */
        max-width: 150px;   
    }
}